absl-py==0.12.0
backcall==0.2.0
blis==0.4.1
cachetools==4.2.1
catalogue==2.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
ConfigArgParse==1.4
-e git+https://github.com/mathieutuli/controllable-text-generation@53a0c4036d76bbf3c7ea7df2e788bb7f74d27dcc#egg=ctg
cymem==2.0.5
datasets==1.5.0
decorator==5.0.7
dill==0.3.3
en-core-web-md==2.2.0
filelock==3.0.12
Flask==1.1.2
fsspec==2021.4.0
future==0.18.2
google-auth==1.28.1
google-auth-oauthlib==0.4.4
grpcio==1.37.0
huggingface-hub==0.0.8
idna==2.10
ipython==7.22.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
jsons==0.10.1
Markdown==3.3.4
MarkupSafe==1.1.1
more-itertools==8.2.0
multiprocess==0.70.11.1
murmurhash==1.0.5
numpy==1.20.2
oauthlib==3.1.0
-e git+https://github.com/OpenNMT/OpenNMT-py.git@1186decfa6fd584ed05713738bd8249219321b1d#egg=OpenNMT_py
packaging==20.9
pandas==1.0.0
parso==0.8.2
pathy==0.4.0
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
plac==0.9.6
preshed==3.0.5
prompt-toolkit==3.0.18
protobuf==3.15.8
ptyprocess==0.7.0
pyarrow==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.4
Pygments==2.8.1
pyonmttok==1.25.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
sacremoses==0.0.44
scipy==1.6.2
sentencepiece==0.1.95
sexpdata==0.0.3
six==1.15.0
-e git+https://github.com/MathieuTuli/task_oriented_dialogue_as_dataflow_synthesis.git@d874a13f1d45fa6c1f7c2af10995d7eedec378a3#egg=sm_dataflow
smart-open==3.0.0
spacy==2.2.1
spacy-legacy==3.0.2
srsly==1.0.5
statsmodels==0.11.1
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.2
thinc==7.1.1
tokenizers==0.10.2
torch==1.6.0
torchtext==0.5.0
tqdm==4.60.0
traitlets==5.0.5
transformers==4.5.1
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.26.4
waitress==1.4.4
wasabi==0.8.2
wcwidth==0.2.5
Werkzeug==1.0.1
xxhash==2.0.2
